[name="R"]{
  text-decoration: none;
  outline: none;
  width: 15%;
  min-width: 40px;
  height: 40px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  color: #000000;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
[name="R"]:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: white;
  transform: translateY(-3px);
}
.activated {
  background: #F3B0EA;
  transform: rotate(360deg);
  box-shadow:
   0 0 10px rgba(0,0,0,.5) inset,
   0 2px 50px rgba(0,0,0,.5) inset,
   0 2px 10px rgba(255,255,255,.1);
}
@keyframes tick {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(2.4);
  }
  100% {
    transform: scale(2);
  }
}
[name="X"]:checked{
    animation: tick .2s ease-in-out;
}