body{
    background: url('images/фонфон.png');
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
#header{
    height: 300px;
    width: 100%;
    background: url("images/фон2.jpg") 0 -200px;
    box-shadow:  0 -10px 8px 15px rgb(239,235,225) inset;
    font-family: 'MyFont';
    text-align: center;
    font-size: 300%;
    color: aliceblue;
}
#south{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 500px;
}
#image{
    float: left;
    width: 500px;
}
#form{
    min-width: 400px;
    border-radius: 10px;
    background: #C51D34;
    padding-top: 10px;
    margin-left: 510px;
    margin-right: 0;
    transition-property: background-color;
    transition-duration: 2s;
}
#container{
    font-size: 150%;
}
.new{
    height: 5px;
    width: 5px;
    border-radius: 5px;
    background: black;
    animation: newAnimate .7s;
}
#table{
    background: rgb(92, 219, 149);
    color: #000000;
    padding: 7px;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
}
#results{
    width: 100%;
    text-align: center;
}
[name="Y"]{
    width: 80%;
}
#Y,#R,#X{
    text-align: center;
}
[name="X"]{
    width: 22%;
    transform: scale(2);
}
@font-face{
    font-family: 'MyFont';
    src:url('fonts/Breathe/Breathe-Press.ttf');
}
@keyframes newAnimate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

